.white-text {
	font-family: "Jura", sans-serif;
	color:black;
}

.widget {
	font-family: "Jura", sans-serif;
}

.masthead, .nav-wrapper, .title {
	font-family: "Days One", sans-serif;
	color:black;
}

#logoImg {
	padding:5px;
}

.divTitles {
	color:black;
	font-family: "Jura", sans-serif;
}

#wrapper {
	width:90%;
}

#searchBox {
	text-align:center;
	color:black;
}

#interests, #politics, #news {
	color: black;
	font-family: "Jura", sans-serif;
}

.instr {
	font-size:20px;
}

.termBtns {
	margin:5px;
	border-radius: 15px;
}

#savedDiv {
	width:20%;
	float:right;
	margin-top:20px;
	margin-right:3%;
}

.links {
	font-color:black;
}

.savedList {
	font-family: "Days One", sans-serif;
}

#youTubeDiv {
	float:left;
	color:black;
	margin-left:5%;
	margin-right:5%;
	margin-top: 20px;
}

.bookSearch {
	border-radius: 15px;
}

.resultsDiv {
	margin: 20px;
	margin-top:40px;
	padding:10px;
	border-bottom: 5px gray solid;
}

.description {
	font-family: "Jura", sans-serif;
}

.url {
	font-family: "Jura", sans-serif;
	font-size:20px;
}

.saveBtn {
	margin-left:33%;
	border-radius: 15px;
	margin-bottom:10px;
}

body, nav {
	background-color: black;
}

.page-footer {
	background-color: black;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#logo {
    margin-top: -90px;
    width: 85%;
}

a#signup {
    height: 50px; 
    line-height: 50px;
}

img#logoImg {
	width: 50px;
}

li#title {
	margin-left: 50px;
}

#interests, #politics, #news {
	margin-top:40px;
}

p {
	text-align: justify;
}

button#getUser {
	margin-left: 10px;
}

li#currentUserName {
	color: white;
	margin-right: 20px;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

#main {
flex: 1 0 auto;
}

@media screen and (max-width: 1680px) {
	#logo {
		width: 80%;
		margin-top: -80px;
	}
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
	#logo {
       width: 100%;
       margin-top: -60px;
	}

	a.url {
		margin-top: 10px;
		float: left;
	}

	.saveBtn {
		margin-right: -20%;
		margin-left: 0;
		margin-bottom: 0;
	}
}

@mediascreen and (max-width: 1024px) {

}

@media screen and (max-width: 680px) {
    #logo {
    	margin-top: 5px;
    }

	a.url {
		margin-top: 10px;
		float: left;
	}

	.saveBtn {
		margin-right: -20%;
		margin-left: 0;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 460px) {
	#logo {
        margin-top: 0;
        width: 100%;
	}

}

