.white-text {
	font-family: "Jura", sans-serif;
	color:black;
}

.masthead, .nav-wrapper, .title {
	font-family: "Days One", sans-serif;
	color:black;
}

#logoImg {
	padding:5px;
}

.divTitles {
	color:black;
	font-family: "Jura", sans-serif;
}

#wrapper {
	width:90%;
}

#searchBox {
	text-align:center;
	width:60%;
	margin-left:8%;
	margin-top: 20px;
	margin-right:5%;
	color:black;
	float:left;
}

#interests, #politics {
	color: black;
	font-family: "Jura", sans-serif;
}

.instr {
	font-size:20px;
}

.termBtns {
	margin:5px;
}

#savedDiv {
	width:20%;
	float:right;
	margin-top:20px;
	margin-right:3%;
}

.links {
	font-color:black;
}

.savedList {
	font-family: "Days One", sans-serif;
}

#youTubeDiv {
	float:left;
	color:black;
	width:60%;
	margin-left:8%;
	margin-right:5%;
}

#podcastDiv {
	margin:20px;
}

.resultsDiv {
	border: 1px solid red;
	margin:5px;
	padding:5px;
}

.description {
	font-family: "Jura", sans-serif;
}

.url {
	font-family: "Jura", sans-serif;
	font-size:30px;
}

.saveBtn {
	margin-left:33%;
	margin-right:33%;
}

body, nav {
	background-color: black;
}

.page-footer {
	background-color: black;
	margin-top: 100px;
}

#logo {
    margin-top: -60px;
    width: 600px;
}
a#signup {
    height: 50px; 
    line-height: 50px;
}

img#logoImg {
	width: 50px;
}

li#title {
	margin-left: 40px;
}

#interests, #politics {
	margin-top:40px;
}

.tabs {
	margin-left:25%;
	margin-right:25%;
	width:88%;
}